<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
        <h4 class="Title">Create Offer </h4>
    </div>
    <div class="marginInner">
        <div class="CreateOffer pb-5">
            <div class="DisFlex">
                <h4 class="Title">Create New Offer</h4>
                <div class="backArrow">
                    <a [routerLink]="['/promo-management']" class="backBtn" ><img src="assets/images/arrow-left.svg" alt="arrow-left" class="img-fluid"></a>
                </div>
            </div>

            <div class="NewOffer">
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Brand</h6>
                    </div>
                    <div class="col-md-9">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id=""  class="form-control">
                                            <option value="">Select Restaurant</option>
                                            <option value="">Select Restaurant</option>
                                            <option value="">Select Restaurant</option>
                                            <option value="">Select Restaurant</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Stores</h6>
                    </div>
                    <div class="col-md-9">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">Select Store</option>
                                            <option value="">Select Store</option>
                                            <option value="">Select Store</option>
                                            <option value="">Select Store</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Cuisine Type</h6>
                    </div>
                    <div class="col-md-9">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id=""  class="form-control">
                                            <option value="">Select Cuisine Type</option>
                                            <option value="">Select Cuisine Type</option>
                                            <option value="">Select Cuisine Type</option>
                                            <option value="">Select Cuisine Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Item Name</h6>
                    </div>
                    <div class="col-md-9">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">Select Item Name</option>
                                            <option value="">Select Item Name</option>
                                            <option value="">Select Item Name</option>
                                            <option value="">Select Item Name</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                            <option value="">الإنجليزية</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Offer Code</h6>
                    </div>
                    <div class="col-md-9">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="" id="" class="form-control" placeholder="Enter">
                                     </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="" id="" class="form-control" placeholder="الإنجليزية">
                                     </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Offer Valid From</h6>
                    </div>
                    <div class="col-md-9">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" name="" id="" class="form-control" placeholder="Date">
                                     </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" name="" id="" class="form-control" placeholder="الإنجليزية">
                                     </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Offer Valid Till</h6>
                    </div>
                    <div class="col-md-9">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" name="" id="" class="form-control" placeholder="Date">
                                     </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" name="" id="" class="form-control" placeholder="الإنجليزية">
                                     </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="text-center pt-2">
                    <a [routerLink]="['/promo-management']" class="Button btnRound" >Create Offer</a>
                </div>
            </div>
        </div>
    </div>
</div>