<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead DisFlex">
        <h4 class="Title">Edit View  Offer</h4>
        <div class="backArrow">
            <a [routerLink]="['/promo-view-management']" class="backBtn" ><img src="assets/images/arrow-left.svg" alt="arrow-left" class="img-fluid"></a>
        </div>
    </div>
    <div class="marginInner">
        <div class="LoyaltyAdd">
            <form>

                <div class="TableList">
                    <div class="dragscroll">
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Item Image	</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="file" class="form-control" placeholder="Title" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="file" class="form-control" placeholder="Title" name="" id="">
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Cuisine Type		</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="text" class="form-control" placeholder="Cuisine Type" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="text" class="form-control" placeholder="Cuisine Type" name="" id="">
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Item Name		</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Item Name" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Item Name" name="" id="">
                                </div>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Item Price</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Item Price	" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Item Price	" name="" id="">
                                </div>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Duration To	 </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Duration To	 " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Duration To	 " name="" id="">
                                </div>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Offer Code	 </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Offer Code	 " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Offer Code	 " name="" id="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Available Offer		 </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Available Offer		 " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Available Offer		 " name="" id="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Offer Code		 </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Offer Code		 " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Offer Code		 " name="" id="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row m-0">
                                <button class="Button btnRound" [routerLink]="['/promo-view-management']"  type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                

            </form>
        </div>
    </div>

</div>