<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
        <h4 class="Title"> Notification Management </h4>
    </div>
    <div class="marginInner">
        <div class="CreateOffer pb-5">
            <div class="DisFlex">
                <h4 class="Title">Send  Notification</h4>
                <div class="backArrow">
                    <a [routerLink]="['/notification']" class="backBtn" ><img src="assets/images/arrow-left.svg" alt="arrow-left" class="img-fluid"></a>
                </div>
            </div>

            <div class="NewOffer">
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Send to</h6>
                    </div>
                    <div class="col-md-9">
                        <form action="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="user" name="" id="">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Predefined Notifications</h6>
                    </div>
                    <div class="col-md-9">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="" id=""  class="form-control">
                                            <option value="">Select</option>
                                            <option value="">Select</option>
                                            <option value="">Select</option>
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
               <div class="row">
                   <div class="col-md-3"></div>
                   <div class="col-md-9">
                       <h3 class="pt-3 pb-4" style="font-weight: 300;">OR</h3>
                   </div>
               </div> 
               <div class="row rowBottom">
                <div class="col-md-3">
                    <h6> Notifications</h6>
                </div>
                <div class="col-md-9">
                    <form action="">
                        <div class="form-group">
                            <textarea name="" class="form-control" id="" placeholder="Type here..." cols="30" rows="6"></textarea>
                        </div>
                    </form>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class=" pt-2">
                            <a [routerLink]="['/notification']" class="Button btnRound" >Send Notification</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>