<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
        <h4 class="Title">Driver Management</h4>
    </div>
    <div class="marginInner">
        <div class="CreateOffer pb-5">
            <div class="DisFlex">
                <h4 class="Title">Add New Driver Form</h4>
                <div class="backArrow">
                    <a [routerLink]="['/driver-management-detail']" class="backBtn" ><img src="assets/images/arrow-left.svg" alt="arrow-left" class="img-fluid"></a>
                </div>
            </div>

            <div class="NewOffer">
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Name</h6>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="Enter" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="الإنجليزية" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Upload Driver Pic</h6>
                    </div>
                    <div class="col-md-8">
                        <form action="">
                            <div class="form-group">
                                <input type="file" name="" id="" placeholder="Browse picture" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Date of Birth</h6>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="Enter" class="form-control">
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="الإنجليزية" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Emirates ID No.</h6>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="Enter" class="form-control">
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="الإنجليزية" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Email Id</h6>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                               <input type="email" name="" id="" class="form-control" placeholder="Enter">
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="email" name="" id="" placeholder="الإنجليزية" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Passport Number</h6>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="Enter" class="form-control">
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="الإنجليزية" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Driver License No.</h6>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="Enter" class="form-control">
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="الإنجليزية" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Contact No.</h6>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                               <input type="text" name="" id="" class="form-control" placeholder="Enter">
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="الإنجليزية" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Address</h6>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                               <input type="text" name="" id="" class="form-control" placeholder="Enter">
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="الإنجليزية" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Bike No. Plate</h6>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                               <input type="text" name="" id="" class="form-control" placeholder="Enter">
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="الإنجليزية" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>Start Time</h6>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                               <input type="text" name="" id="" class="form-control" placeholder="Enter">
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="الإنجليزية" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row rowBottom">
                    <div class="col-md-3">
                        <h6>End Time</h6>
                    </div>
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                               <input type="text" name="" id="" class="form-control" placeholder="Enter">
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-4">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="" id="" placeholder="الإنجليزية" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="text-center pt-2">
                    <a [routerLink]="['/driver-management-detail']" class="Button btnRound" >Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>