<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
        <h4 class="Title">Brand Management</h4>
    </div>
    <div class="marginInner  pb-3">
        <div class="TableList">
            <div class="dragscroll">
                <div class="ProfileArea">
                    <aside class="mb-4">
                        <div class="ProfileHead profilePencil">
                            <h3>
                            </h3>
                            <div class="backArrow">
                                <a [routerLink]="['/brand-info-details']" class="backBtn" ><img src="assets/images/arrow-left.svg" alt="arrow-left" class="img-fluid"></a>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <span class="Label">Request Id  </span>
                                <span class="Text"> 2523 </span>
                            </li>
                            <li>
                                <span class="Label">Request Type   </span>
                                <span class="Text">Menu Change </span>
                            </li>
                            <li>
                                <span class="Label">Request Detail   </span>
                                <span class="text"> Healthy Oriental Rice with Lamb</span>
                            </li>
                        </ul>
                    </aside>

                    <div class="healthy">
                        <div class="row mr-0">
                            <div class="col-md-2">
                                <div class="healthyLeft">
                                    <img src="assets/images/Mask.png" alt="Mask" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="healthyRight">
                                    <h3 class="Title">Healthy Oriental Rice with Lamb</h3>
                                    <p>Seasoned lamb shanks oven-baked to perfection and light oriental rice with raisins, served with coriander greek yogurt sauce.</p>
                                    <h3>AED 50.00</h3>
        
                                    <div class="float-right">
                                        <a [routerLink]="['/brand-info-details']" class="Button btnRound btnGreen mr-3" >Approve</a>
                                        <a [routerLink]="['/brand-info-details']" class="Button btnRound btnRed" >Disapprove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>