<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
       <div class="mainHeadInner DisFlex">
            <h4 class="Title">Offline Restaurant</h4>
            <div class="timeFrame">
                <div class="Days">
                    <ul class="DisFlex">
                        <div class="sideDownIcon ml-2">
                            <a href="javaScript:void(0)"><img src="assets/images/download.png" alt=""></a>
                        </div>
                    </ul>
                </div>
            </div>
       </div>
    </div>
    <div class="marginInner">
        <div class="filterBox">
            <div class="fiterBoxLeft DisFlex">
                
                <div class="Filter FilterOrder">
                    <div class="form-group" style="position: relative;">
                        <label>Search</label>
                        <input type="text" class="form-control" style="padding-right: 30px;" placeholder="Search" name="" id="">
                        <a href="javaScript:void(0)" class="SearchAbsolute"><img src="assets/images/search.svg" style="width: 16px;" alt="rotate-left" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="TableList bargainTable">
            <div class="dragscroll">
                <table id="example" class="table table-bordered " cellpadding="0" width="100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Brand Name</th>
                            <th>store  Name</th>
                            <th>store  Location</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Burger King</td>
                            <td>BK</td>
                            <td>Burger king, Sector 63</td>
                            <td>Offline</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Burger King</td>
                            <td>BK</td>
                            <td>Burger king, Sector 63</td>
                            <td>Offline</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Burger King</td>
                            <td>BK</td>
                            <td>Burger king, Sector 63</td>
                            <td>Offline</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Burger King</td>
                            <td>BK</td>
                            <td>Burger king, Sector 63</td>
                            <td>Offline</td>
                        </tr>
                        <tr>
                            <td>5</td>
                             <td>Burger King</td>
                            <td>BK</td>
                            <td>Burger king, Sector 63</td>
                            <td>Offline</td>
                        </tr>
                        <tr>
                            <td>6</td>
                             <td>Burger King</td>
                            <td>BK</td>
                            <td>Burger king, Sector 63</td>
                            <td>Offline</td>
                        </tr>
                        <tr>
                            <td>7</td>
                             <td>Burger King</td>
                            <td>BK</td>
                            <td>Burger king, Sector 63</td>
                            <td>Offline</td>
                        </tr>
                        <tr>
                            <td>8</td>
                             <td>Burger King</td>
                            <td>BK</td>
                            <td>Burger king, Sector 63</td>
                            <td>Offline</td>
                        </tr>
                        <tr>
                            <td>9</td>
                             <td>Burger King</td>
                            <td>BK</td>
                            <td>Burger king, Sector 63</td>
                            <td>Offline</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Burger King</td>
                            <td>BK</td>
                            <td>Burger king, Sector 63</td>
                            <td>Offline</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>