<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
       <div class="mainHeadInner DisFlex">
            <div>
                <h4 class="Title">Coverage Areas    </h4>
                <p>Mezza House, Downtown Burj Khalifa</p>
            </div>
            <form>
				<!-- <label>Type</label> -->
				<select class="form-control">
					<option>Brand </option>
					<option>Branches </option>
				</select>
			</form> 
       </div>
    </div>
    <div class="marginInner">
        <div class="TableList">
            <div class="dragscroll">
                <div class="SmallerWapper"> 
                    <div class="SmallerFlex  sideBtn DisFlex FixSearch">
                        <h3 class="Title Green">All Coverage Area are active</h3>
                        <div class="SmallerRight"> 
                            <a [routerLink]="['/add-coverage']" class="Button"> Add Coverage Areas </a>
                        </div>
                    </div>
                    <div class="SmallerWapperBox">
                        <div class="CoverageArea">
        
                            <div class="CoverageList">
                                <form>
                                    <input type="text" placeholder="Search coverage area">
                                </form>
                                <ul>
                                    <li>
                                        <div>
                                            <h3>Al Hudaiba</h3>
                                            <p><span>Min Order Amount :</span> 30</p>
                                            <p><span>Delivery Fee :</span> 6</p>
                                            <p><span>Delivery Time : </span> 40 Mins</p>
                                        </div>
                                        <div>
                                            <label class="Switch">
                                                  <input type="checkbox">
                                                 <span class="slider"></span> 
                                            </label> 
                                            <a [routerLink]="['/edit-coverage']">
                                                <img src="assets/images/Action-5.png">
                                            </a>
                                        </div>
                                    </li>
        
                                    <li>
                                        <div>
                                            <h3>Al Jaffiliya</h3>
                                            <p><span>Min Order Amount :</span> 30</p>
                                            <p><span>Delivery Fee :</span> 6</p>
                                            <p><span>Delivery Time : </span> 40 Mins</p>
                                        </div>
                                        <div>
                                            <label class="Switch">
                                                  <input type="checkbox">
                                                 <span class="slider"></span> 
                                            </label>
                                            <a [routerLink]="['/edit-coverage']">
                                                <img src="assets/images/Action-5.png">
                                            </a>
                                        </div>
                                    </li>
        
                                    <li>
                                        <div>
                                            <h3>Al Safa 2</h3>
                                            <p><span>Min Order Amount :</span> 30</p>
                                            <p><span>Delivery Fee :</span> 6</p>
                                            <p><span>Delivery Time : </span> 40 Mins</p>
                                        </div>
                                        <div>
                                            <label class="Switch">
                                                  <input type="checkbox">
                                                 <span class="slider"></span> 
                                            </label>
                                            <a [routerLink]="['/edit-coverage']">
                                                <img src="assets/images/Action-5.png">
                                            </a>
                                        </div>
                                    </li>
        
                                    <li>
                                        <div>
                                            <h3>Jumeirah 1</h3>
                                            <p><span>Min Order Amount :</span> 30</p>
                                            <p><span>Delivery Fee :</span> 6</p>
                                            <p><span>Delivery Time : </span> 40 Mins</p>
                                        </div>
                                        <div>
                                            <label class="Switch">
                                                  <input type="checkbox">
                                                 <span class="slider"></span> 
                                            </label>
                                            <a [routerLink]="['/edit-coverage']">
                                                <img src="assets/images/Action-5.png">
                                            </a>
                                        </div>
                                    </li>
        
                                    <li> 
                                        <div>
                                            <h3>Jumeirah 2</h3>
                                            <p><span>Min Order Amount :</span> 30</p>
                                            <p><span>Delivery Fee :</span> 6</p>
                                            <p><span>Delivery Time : </span> 40 Mins</p>
                                        </div>
                                        <div>
                                            <label class="Switch">
                                                  <input type="checkbox">
                                                 <span class="slider"></span> 
                                            </label>
                                            <a [routerLink]="['/edit-coverage']">
                                                <img src="assets/images/Action-5.png">
                                            </a>
                                        </div>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>