<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
        <h4 class="Title">Notification</h4>
    </div>
    <div class="marginInner">
        <div class="CreateOffer pb-5">
            <div class="NotificationArea">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <figure class="pull-left"> <i class="fa  fa-shopping-cart fa-2x" aria-hidden="true"></i></figure>
                        <div class="msg-right">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"> New order received</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1"> Notification in case of any new order received.</p>
                            <small>Donec id elit non mi porta.</small>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <figure class="pull-left"> <i class="fa  fa-user fa-2x" aria-hidden="true"></i></figure>
                        <div class="msg-right">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"> New order received</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1"> Notification in case of any new user registered on the platform.</p>
                            <small>Donec id elit non mi porta.</small>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <figure class="pull-left"> <i class="fa  fa-user fa-2x" aria-hidden="true"></i></figure>
                        <div class="msg-right">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"> New order received</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1"> Notification in case of any new user registered on the platform.</p>
                            <small>Donec id elit non mi porta.</small>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <figure class="pull-left"> <i class="fa  fa-shopping-cart fa-2x" aria-hidden="true"></i></figure>
                        <div class="msg-right">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"> New order received</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1"> Notification in case of any new order received.</p>
                            <small>Donec id elit non mi porta.</small>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <figure class="pull-left"> <i class="fa  fa-shopping-cart fa-2x" aria-hidden="true"></i></figure>
                        <div class="msg-right">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"> New order received</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1"> Notification in case of any new order received.</p>
                            <small>Donec id elit non mi porta.</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

