

<div class="SidenavBar">
    
    <ul>
        <div class="Logo DisFlex">
           <a [routerLink]="['/dashboard']"><img src="assets/images/profile.jpg "></a>
           <a [routerLink]="['/notification-manager']" class="aNote"><img src="assets/images/notification.svg "></a>
        </div>
        <div class="sidenavTop">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/dashboard']">
                    <span><i class="faImg"><img src="assets/images/dashboard.svg" alt="dashboard" class="img-fluid"></i></span>
                    <p>Dashboard</p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/user-management']">
                    <span><i class="faImg"><img src="assets/images/profile_user.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>User Management</p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/brand-management']">
                    <span><i class="faImg"><img src="assets/images/shop.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Brand  Management</p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/driver-management']">
                    <span><i class="faImg"><img src="assets/images/scooterr.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Driver Management</p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/order-management']">
                    <span><i class="faImg"><img src="assets/images/sent.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Order Management</p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/heat-management']">
                    <span><i class="faImg"><img src="assets/images/location.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Maps </p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/coverage-areas']">
                    <span><i class="faImg"><img src="assets/images/location.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Coverage Areas                    </p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/cuisine-management']">
                    <span><i class="faImg"><img src="assets/images/fast.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Cuisine Management</p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/banner-management']">
                    <span><i class="faImg"><img src="assets/images/banner.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Banner Management</p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/promo-management']">
                    <span><i class="faImg"><img src="assets/images/discount.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Promo/Offer Management</p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/notification']">
                    <span><i class="faImg"><img src="assets/images/notification.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Notification Management</p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a href="https://www.zoho.com/signup.html"  target="_blank">
                    <span><i class="faImg"><img src="assets/images/headphones.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Help & Support Management</p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/static-content']">
                    <span><i class="faImg"><img src="assets/images/notes.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Static Content Management</p>
                </a>
            </li>

            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/payment-management']">
                    <span><i class="faImg"><img src="assets/images/coins.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Payment Management</p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/verification-management']">
                    <span><i class="faImg"><img src="assets/images/clipboard.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Verification Management</p>
                </a>
            </li>
    
            <!-- <li [routerLinkActive]="['active']">
                <a [routerLink]="['/loyalty-management']">
                    <span><i class="faImg"><img src="assets/images/heart.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Loyalty Management</p>
                </a>
            </li> -->
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/report']">
                    <span><i class="faImg"><img src="assets/images/statistics.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Reports </p>
                </a>
            </li>
    
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/login']">
                    <span><i class="faImg"><img src="assets/images/logout.svg" alt="paid" class="img-fluid"></i></span> 
                    <p>Logout</p>
                </a>
            </li>
        </div>
    </ul>
</div>