<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead DisFlex">
        <h4 class="Title">Update Banner  Management</h4>
        <div class="backArrow">
            <a [routerLink]="['/banner-management']" class="backBtn" ><img src="assets/images/arrow-left.svg" alt="arrow-left" class="img-fluid"></a>
        </div>
    </div>
    <div class="marginInner">
        <div class="LoyaltyAdd">
            <form>
                <div class="TableList">
                    <div class="dragscroll">
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Title</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="text" class="form-control" placeholder="Title" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="text" class="form-control" placeholder="Title" name="" id="">
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Images	</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="file" class="form-control" placeholder="Name" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="file" class="form-control" placeholder="Name" name="" id="">
                                </div>
                            </div>
                        </div>
        
                        <!-- <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Description	</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Description" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Description" name="" id="">
                                </div>
                            </div>
                        </div> -->

                        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Duration From	</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Duration From	" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Duration From	" name="" id="">
                                </div>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Duration To	 </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Duration To	 " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Duration To	 " name="" id="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Start Time	 </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Duration To	 " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Duration To	 " name="" id="">
                                </div>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>End Time	 </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Duration To	 " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Duration To	 " name="" id="">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Select Store	</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <select name="" id=""  class="form-control">
                                      <option value="">Store 1</option>
                                        <option value="">Store 2</option>
                                        <option value="">Store 3</option>
                                        <option value="">Store 4</option>
                                    </select>
                                    <!-- <input type="number" class="form-control" placeholder="Offer Code	 " name="" id=""> -->
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <select name="" id=""  class="form-control">
                                      <option value="">Store 1</option>
                                        <option value="">Store 2</option>
                                        <option value="">Store 3</option>
                                        <option value="">Store 4</option>
                                    </select>
                                    <!-- <input type="number" class="form-control" placeholder="Offer Code	 " name="" id=""> -->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row m-0">
                                <button class="Button btnRound" [routerLink]="['/banner-management']" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                

            </form>
        </div>
    </div>

</div>