<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead">
       <div class="mainHeadInner DisFlex">
            <h4 class="Title">Cancelled Order </h4>
            <div class="timeFrame">
                <div class="Days">
                    <ul class="DisFlex">
                        <div class="sideDownIcon ml-2">
                            <a href="javaScript:void(0)"><img src="assets/images/download.png" alt=""></a>
                        </div>
                        <!-- <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i></li> -->
                    </ul>
                </div>
            </div>
       </div>
    </div>
    <div class="marginInner">
        <div class="filterBox">
            <div class="fiterBoxLeft DisFlex">
                
                <div class="Filter FilterOrder">
                    <div class="form-group" style="position: relative;">
                        <label>Search</label>
                        <input type="text" class="form-control" style="padding-right: 30px;" placeholder="Search" name="" id="">
                        <a href="javaScript:void(0)" class="SearchAbsolute"><img src="assets/images/search.svg" style="width: 16px;" alt="rotate-left" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="TableList bargainTable">
            <div class="dragscroll">
                <table id="example" class="table table-bordered " cellpadding="0" width="100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Order Id</th>
                            <th>Brand Name</th>
                            <th>Restaurant Name</th>
                            <th>Order Type</th>
                            <th>Status</th>
                            <th>Order placed at </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>AB432</td>
                            <td>Burger King</td>
                            <td>Burger king, Sector 63</td>
                            <td>Market place</td>
                            <td id="Accept"><span class="circle"></span> Cancelled</td>
                            <td>12/02/2021, 02:01 PM</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>AB432</td>
                            <td>Burger King</td>
                            <td>Burger king, Sector 63</td>
                            <td>Market place</td>
                            <td><span class="circle"></span> Cancelled</td>
                            <td>12/02/2021, 02:01 PM</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>AB432</td>
                            <td>Burger King</td>
                            <td>Burger king, Sector 63</td>
                            <td>Market place</td>
                            <td><span class="circle"></span> Cancelled</td>
                            <td>12/02/2021, 02:01 PM</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>AB432</td>
                            <td>Burger King</td>
                            <td>Burger king, Sector 63</td>
                            <td>Market place</td>
                            <td><span class="circle"></span> Cancelled</td>
                            <td>12/02/2021, 02:01 PM</td>
                        </tr>
                        <tr>
                            <td>5</td>
                             <td>AB432</td>
                            <td>Burger King</td>
                            <td>Burger king, Sector 63</td>
                            <td>Market place</td>
                            <td><span class="circle"></span> Cancelled</td>
                            <td>12/02/2021, 02:01 PM</td>
                        </tr>
                        <tr>
                            <td>6</td>
                             <td>AB432</td>
                            <td>Burger King</td>
                            <td>Burger king, Sector 63</td>
                            <td>Market place</td>
                            <td><span class="circle"></span> Cancelled</td>
                            <td>12/02/2021, 02:01 PM</td>
                        </tr>
                        <tr>
                            <td>7</td>
                             <td>AB432</td>
                            <td>Burger King</td>
                            <td>Burger king, Sector 63</td>
                            <td>Market place</td>
                            <td><span class="circle"></span> Cancelled</td>
                            <td>12/02/2021, 02:01 PM</td>
                        </tr>
                        <tr>
                            <td>8</td>
                             <td>AB432</td>
                            <td>Burger King</td>
                            <td>Burger king, Sector 63</td>
                            <td>Market place</td>
                            <td><span class="circle"></span> Cancelled</td>
                            <td>12/02/2021, 02:01 PM</td>
                        </tr>
                        <tr>
                            <td>9</td>
                             <td>AB432</td>
                            <td>Burger King</td>
                            <td>Burger king, Sector 63</td>
                            <td>Market place</td>
                            <td><span class="circle"></span> Cancelled</td>
                            <td>12/02/2021, 02:01 PM</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>AB432</td>
                            <td>Burger King</td>
                            <td>Burger king, Sector 63</td>
                            <td>Market place</td>
                            <td><span class="circle"></span> Cancelled</td>
                            <td>12/02/2021, 02:01 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<div class="SidebarArea">
    <div class="Sidebar" id="OrderStatus">
        <span class="Closesidebar">
            <img src="assets/images/close.svg" alt="close" class="img-fluid">
        </span>
        <div class="SidebarBody">
            <div class="ProfileArea">
                <aside>
                    <div class="ProfileHead profilePencil">
                        <h3>
                            <span>Personal Info</span>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <span class="Label">Customer ID </span>
                            <span class="Text">A5263</span>
                        </li>
                        
                        <li>
                            <span class="Label">Name </span>
                            <span class="Text">Abdul</span>
                        </li>
                        
                        <li>
                            <span class="Label">Email </span>
                            <span class="text">abdul@gmail.com</span>
                        </li>
                        <li>
                            <span class="Label">Contact </span>
                            <span class="Text">+971 9876543210</span>
                        </li>
                    </ul>
                </aside>
                <aside>
                    <div class="ProfileHead profilePencil">
                        <h3>
                            <span>Driver Details</span>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <span class="Label">Name</span>
                            <span class="Text">Danish</span>
                        </li>
                        <li>
                            <span class="Label">Contact </span>
                            <span class="Text">+971 9876543210</span>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</div>