<app-sidenav></app-sidenav>
<div class="MainMargin">
    <div class="mainHead DisFlex">
        <h4 class="Title">Edit Driver Management</h4>
            <div class="backArrow">
                <a [routerLink]="['/driver-management-detail']" class="backBtn" ><img src="assets/images/arrow-left.svg" alt="arrow-left" class="img-fluid"></a>
            </div>
    </div>
    
    <div class="marginInner">
        
        <div class="LoyaltyAdd">
            <form>

                <div class="TableList">
                    <div class="dragscroll">
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Name</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="text" class="form-control" placeholder="Name" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="text" class="form-control" placeholder="Name" name="" id="">
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Profile Picture	</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="file" class="form-control" placeholder="Name" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="file" class="form-control" placeholder="Name" name="" id="">
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Date of Birth   </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Age" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Age" name="" id="">
                                </div>
                            </div>
                        </div>
   
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Emirates ID No. </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Emirates ID No. " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Emirates ID No. " name="" id="">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Email ID </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Email ID " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Email ID " name="" id="">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Passport Number </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Passport Number " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Passport Number " name="" id="">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Driver License No. </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Driver License No. " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Driver License No. " name="" id="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Contact Number	</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Contact Number" name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Contact Number" name="" id="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Address </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Address " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Address " name="" id="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Bike No. Plate</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Bike No. Plate " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Bike No. Plate " name="" id="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>Start Time </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="Start Time " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="Start Time " name="" id="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row m-0">
                                <div class="col-sm-2">
                                    <label>End Time</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>English</label>
                                    <input type="number" class="form-control" placeholder="End Time " name="" id="">
                                </div>
                                <div class="col-sm-5 Arbic">
                                    <label>الإنجليزية</label>
                                    <input type="number" class="form-control" placeholder="End Time " name="" id="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row m-0">
                                <button class="Button btnRound" [routerLink]="['/driver-management-detail']" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                

            </form>
        </div>
    </div>

</div>